body {
  background-size: 100%;
}
.current-city {
  text-align: left;
  padding: 0px 0px 0px 30px;
  text-transform: capitalize;
}
.current-description {
  font-size: 30px;
  text-align: left;
  padding: 0px 0px 0px 25px;
  text-transform: capitalize;
}
.frame {
  margin: 10% 25% 25px;
  background-color: #fff;
  border: solid black;
  text-align: center;
  padding: 20px 0px 0px;
}
.footer {
  position: fixed;
  bottom: 0px;
  padding: 0px 10px;
}
.city-input {
  max-width: 100%;
}
.fa-sun {
  color: #ffce01;
}
.search-section {
  padding: 10px 0px 0px;
}
