body {
  background-size: 100%;
}
form {
  border-radius: 4px;
}

a:link {
  text-decoration: none;
}
.current-city {
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
  text-transform: capitalize;
  font-size: 30px;
}
.current-description {
  font-size: 30px;
  text-align: left;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 0px 30px;
  text-transform: capitalize;
}
.current-date {
  font-size: 30px;
  font-weight: 600;
}
.current-temp {
  font-size: 35px;
}
.card-title {
  font-weight: 600;
}
.frame {
  margin: 7% 25% 25px;
  background-color: #fff;
  border: solid black;
  text-align: center;
  padding: 20px 20px 20px 20px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.footer {
  position: fixed;
  bottom: 0px;
  padding: 0px 10px;
}
.city-input {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.search-button {
  background-color: #b4b5b4;
  border-color: #323233;
  border-radius: 4px;
}
.search-button:hover {
  background-color: #545554;
  color: #fff;
}
.search-section {
  padding: 10px 0px 0px;
}
.last-updated {
  margin: 0 auto;
}
.weekday-date {
  font-weight: bolder;
  color: #323233;
  opacity: 0.75;
}
.weekday-temp-min {
  opacity: 0.6;
}

#current-city {
  font-weight: bold;
  font-size: 40px;
}
